/* Generales */

:root{
    --fuentePrincipal: 'Inter', sans-serif;
    --fuenteSecundaria: 'Roboto', sans-serif;

    --colorClaro: #FFD000;
    --colorOscuro: #27002B;
    --colorNegro: #000000;
    --colorBlanco: #FFFFFF;
    
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--fuentePrincipal);
    font-size: 1.2rem;
    background: center;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='160.1' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2327002B' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%23340331' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%23420436' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%2351063b' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%235f093f' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%236e0d42' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%237c1244' href='%23a' transform=''/%3E%3Cuse stroke='%238b1945' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23992045' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23a62945' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23b33244' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23c03c42' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23cb4740' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23d5523c' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23df5f39' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23e76b34' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23ef792f' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23f58729' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%23fa9522' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23fda31a' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23ffb210' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23ffc106' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23FFD000' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

footer{
    margin-top: auto;
}

/* Orden */

.inicio{
    display: block;
}

.container{
    min-height: 100vh;
}

.container-btn{
    display: grid;
    padding-top: 15rem;
    gap: 1rem;
    grid-template:
    "header-h" 10rem
    "btn-1" 5rem
    "btn-2" 5rem
    "footer" auto;
}

.header-h{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: "header-h";
}

.btn-1{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: "btn-1";
}

.btn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: "btn-2";
}

.bodyAddWord{
    display: grid;
    padding-top: 15rem;
    padding-left: 15rem;
    grid-template-columns:1fr 1fr;
}

.text{
    margin-left: 1rem;
    resize: none;
    width: 75%;
    height: 100%;
}

.game figure{
    display: flex;
    justify-content: center;
}

.imagen{
    width: 25rem;
}

.game #letras{
    width: 40rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;
    padding-top: 3rem;
}

#letras p{
    vertical-align: bottom;
    font-size: 2rem;
    border-bottom: 2px solid var(--colorClaro);
    width: 5rem;
    text-align: center;
    margin-right: 0.6rem;
    display: inline-block; /*Sin esto no hay ancho*/
}

#letras {
    padding-bottom: 2rem;
    color: var(--colorClaro);
    font-size: bold;
    font-family: var(--fuentePrincipal);
}

.botonesTeclado{
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    justify-content: center;
}

.botonesTeclado button{
    border: none;
    border-radius: 5px;
    padding: 1rem;
    background: linear-gradient(145deg, #e6bb00, #ffdf00);
    cursor: pointer;
    
}

.botonesTeclado button:hover{
    background: linear-gradient(145deg, #bb6a00, #e6bb00);
}

.botones{
    display: flex;
    gap: 3rem;
    padding-left: 10rem;
    padding-top: 10rem;
}

.botonesAdd{
    padding-left: 1rem;
}


/* Css */

.btn{
    text-decoration: none;
    border: none;
    padding: 2rem;
    margin-bottom: 2rem;
    width: 30rem;
    border-radius: 62px;
    cursor: pointer;
    background: linear-gradient(145deg, #e6bb00, #ffdf00);
    transition:  1s;
}

.btn:hover{
    background: linear-gradient(145deg, #bb6a00, #e6bb00);
}

/*Footer*/

.futer{
    font-size: 32px;
    margin-top: 300px;
    bottom: 0px;
    width: 100%;
    background: var(--colorOscuro);
    font-family: var(--fuenteSecundaria);
    font-style: italic;
    color: var(--colorClaro);
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

.futer li{
    display: inline-block;
    text-align: center;
    padding: 15px;
    margin-right: 33%;
}

.logofoot {
    font-family: var(--fuenteSecundaria);
    font-style: italic;
    color: var(--colorClaro);
    display: inline-block;
    bottom: 0px;
}

.logofoot2{
    font-family: var(--fuenteSecundaria);
    font-style: italic;
    text-align: center;
    color: var(--colorClaro);
    font-size: 15px;
    margin-right: 35%;
}

#resetPage{
    margin-right: 0px;
    color: #FFFFFF;
}

/* Media querys */

@media (min-width: 768px) {
    .botones{
        display: block;
    }
}

@media (min-width: 1024px) {
    .botones{
        display: flex;
    }
}